.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.page-category-list .am-list-extra  a{
    padding: 5px 10px;
    display: inline;
}