.list-item-content p {
    margin: 0;
    padding: 3px 0;
    color: #333;
}

.list-item-content span {
    margin: 0;
    padding: 3px 0;
    color: #999;
}

.list-item-name {
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

.list-separator {
    background-color: #F5F5F9;
    height: 8px;
    border-top: 1px solid #ECECED;
    border-bottom: 1px solid #ECECED;
}
.list-item-wrap {
    display: -webkit-box;
    display: flex;
    padding: 15px 0;
}

.list-item-logo {
    height: 64px !important;
    width: 64px !important;
    border: 1px solid #dddddd;
    margin-right: 15px;
}

.lit-item-content-wrap {
    line-height: 1;
}

.search-sidebar {
    /*background-color: #dddddd;*/
}

.my-drawer {
    position: relative;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.my-drawer .am-drawer-sidebar {
    background-color: #fff;
    width: 85%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.my-drawer .am-drawer-sidebar .am-list {
    padding: 0;
}